@font-face {
  font-family: 'Great Vibes';
  src: url(./fonts/GreatVibes-Regular.ttf) format("truetype");
}

@font-face {
  font-family: 'Noto Sans Mono';
  src: url(./fonts/NotoSansMono-VariableFont_wdth\,wght.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  --github-black: #0D1117;
  --etch-red: #F3181E;
  --button-width: 90px;
  --button-height: 28px;
}

body {
  display: inline-flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: calc(100vw - (100vw - 100%));
}

main {
  flex: 1;
  height: calc(100vh - 55px);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main container */

.container {
  width: 850px;
  background-color: var(--etch-red);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  box-shadow: 5px -10px 26px 0px rgba(0,0,0,0.45);
}

.name {
  font-family: 'Great Vibes', cursive;
  font-weight: bold;
  font-size: 35px;
  color: gold;
  display: inline-block;
  margin-block: 15px;
}

/* Middle container */

.container-middle {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

/* Left tab */

.tab-left, .tab-right {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 150px;
  justify-content: center;
  gap: 35px;
  position: relative;
  bottom: 15px;
}

input[type="color"] {
  width: var(--button-width);
  height: var(--button-height);
  border: 1px solid black;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.2);
}

input[type="color"]:active {
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.2);
}

button {
  font-family: 'Noto Sans Mono', monospace;
  font-weight: bold;
  font-size: 15px;
  background-color: gold;
  border: 1px solid rgb(236, 200, 0);
  width: var(--button-width);
  height: var(--button-height);
  cursor: pointer;
  border-radius: 4px;
  letter-spacing: 0.3px;
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.2);
}

button:active, .selected {
  border-style: none;
  background-color: rgb(195, 166, 0);
  border: 1px solid rgb(173, 147, 0);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.2);
}

input[type="color"]:focus-visible, button:focus-visible {
  outline: none;
  border: 2px solid black;
}

/* Canvas */

.canvas {
  height: 400px;
  aspect-ratio: 1 / 1;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(32, 1fr);
  grid-template-rows: repeat(32, 1fr);
  cursor: pointer;
}

/* Right tab */

.tab-right {
  height: 275px;
  align-self: center;
}

label[for="resize"] {
  font-family: 'Great Vibes', cursive;
  font-weight: bold;
  font-size: 20px;
  color: gold;
  align-self: center;
  width: 150px;
  text-align: center;
}

/* Slider input */

input[type="range"] {
  width: 125px;
  align-self: center;
}

input[type="range"] {
  -webkit-appearance: none;
  background-color: var(--etch-red);
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.2);
  background: gold;
  border-radius: 3px;
  border: 1px solid rgb(255, 215, 0);
}

input[type="range"]::-webkit-slider-thumb {
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.2);
  border: 1px solid black;
  height: 35px;
  width: 12px;
  border-radius: 7px;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: gold;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000;
  background: rgb(255, 215, 0);
  border-radius: 3px;
  border: 1px solid #000000;
}

input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 0px solid #000000;
  height: 35px;
  width: 12px;
  border-radius: 7px;
  background: #FFFFFF;
  cursor: pointer;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-ms-fill-lower {
  background: rgb(255, 215, 0);
  border: 1px solid #000000;
  border-radius: 6px;
  box-shadow: 1px 1px 1px #000000;
}

input[type="range"]::-ms-fill-upper {
  background: rgb(255, 215, 0);
  border: 1px solid #000000;
  border-radius: 6px;
  box-shadow: 1px 1px 1px #000000;
}

input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #000000;
  border: 0px solid #000000;
  height: 35px;
  width: 12px;
  border-radius: 7px;
  background: #FFFFFF;
  cursor: pointer;
}

input[type="range"]:focus::-ms-fill-lower {
  background: rgb(255, 215, 0);
}

input[type="range"]:focus::-ms-fill-upper {
  background: rgb(255, 215, 0);
}

/* Bottom container */

.container-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.knob-left, .knob-right {
  height: 100px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: whitesmoke;
  margin: 0px 20px 10px;
  position: relative;
  bottom: 10px;
}

.knob-left {
  margin-left: 65px;
  box-shadow: -6px -10px 26px 0px rgba(0,0,0,0.45);
}

.knob-right {
  margin-right: 65px;
  box-shadow: 6px -10px 26px 0px rgba(0,0,0,0.45);
}

/* Footer */

footer {
  display: flex;
  align-items: center;
  background-color: var(--github-black);
  padding: 12px 40px;
}

.made-by {
  font-size: 12px;
  font-family: cursive;
  color: white;
  margin: 0 auto;
}

.github-icon {
  height: 25px;
}
