:root {
  max-height: 100vh;
  --rowNum: 16;
  --columnNum: 16;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  height: 92.5%;
}

button, input {
  margin: 25px 0 25px 0;
}

.tab-left, .tab-right {
  display: flex;
  background-color: aquamarine;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
}

.sketch {
  display: flex;
  flex-direction: column;
  background-color: burlywood;
  align-items: center;
  width: 55vw;
}

.name {
  font-size: 20px;
}

.canvas {
  display: grid;
  background-color: aliceblue;
  width: 35vw;
  height: 35vw;
  grid-template-columns: repeat(var(--columnNum), 1fr);
  grid-template-rows: repeat(var(--rowNum), 1fr);
}

.knobs {
  display: flex;
  margin-top: auto;
  height: 17.5vh;
  width: 100%;
  justify-content: space-between;
}

.knob-left, .knob-right {
  background-color: azure;
  aspect-ratio: 1 / 1;
  height: 90%;
  width: auto;
  border-radius: 50%;
}

.knob-left {
  margin-left: 20px;
}

.knob-right {
  margin-right: 20px;
}